@import "components/mixins";
@import "components/color";
@import "components/variables";

/* global screen size */
$very-small: 360px;

/* more text-align */
.justify {
  text-align: justify;
}

/* more about material-icons */
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* clear validate */
input:not([type]) + label,
input[type=text] + label,
input[type=password] + label,
input[type=email] + label,
input[type=url] + label,
input[type=time] + label,
input[type=date] + label,
input[type=datetime] + label,
input[type=datetime-local] + label,
input[type=tel] + label,
input[type=number] + label,
input[type=search] + label,
textarea.materialize-textarea + label {
  width: 100%;
  pointer-events: none;
}

input:not([type]).invalid + label:not(.active):after,
input[type=text].invalid + label:not(.active):after,
input[type=password].invalid + label:not(.active):after,
input[type=email].invalid + label:not(.active):after,
input[type=url].invalid + label:not(.active):after,
input[type=time].invalid + label:not(.active):after,
input[type=date].invalid + label:not(.active):after,
input[type=datetime].invalid + label:not(.active):after,
input[type=datetime-local].invalid + label:not(.active):after,
input[type=tel].invalid + label:not(.active):after,
input[type=number].invalid + label:not(.active):after,
input[type=search].invalid + label:not(.active):after,
textarea.materialize-textarea.invalid + label:not(.active):after {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%);
}

/* A inverse tab */

.tabs.tabs-transparent.inverse {
  .tab a, .tab.disabled a, .tab.disabled a:hover {
    color: rgba($primary-color-dark, 0.7);
  }
  .tab a:hover, .tab a.active {
    color: $primary-color-dark;
  }
  .indicator {
    background-color: $primary-color-dark;
  }
  cursor: pointer;
}

/* More Font */
.container-header {
  color: $primary-color;
  font-weight: 300;
}

/* Feed */

.feed-collection {
  margin-top: 15px;
  margin-bottom: 60px;
}

.collection li.collection-item.avatar {
  cursor: pointer;
  transition: background-color 0.3s;
  padding-right: 72px;
  padding-bottom: 17px;
  padding-top: 17px;

  p {
    margin-bottom: 7px;
  }

  span {
    font-weight: 500;
  }

  /* too small */
  @media only screen and (max-width: $very-small) {
    padding-right: 20px;

    .secondary-content {
      display: none;
    }
  }
}

.collection li.collection-item:not(.active):hover {
  background-color: #f7f7f7;
}

.collection .collection-item .chip:not(.active):hover {
  background-color: #bbb;
  transition: background-color 0.3s;
}

.sign-form {
  margin-top: 30px;
  margin-bottom: 60px;
}

.btn-submit {
  width: 50%;

  @media only screen and (max-width: 400px) {
    width: 80%;
  }
}

.input-field {
  margin-bottom: 20px;
}


/* post div */

.post {
  margin-bottom: 30px;
  p {
    margin: 0 0 0.8em 0 !important;
    line-height: 1.5em;
  }
  .section-title {
    font-size: 1.15em;
    font-weight: bold;
    h1 {
      font-size: 1.5em;
    }
  }
  .header {
    .title {
      font-size: $h4-fontsize;
      margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0;
    }
    text-align: center;
  }
  .header, .passage {
    margin-bottom: 1.5em;
  }
  .examples {
    .example {
      font-family: "Consolas", "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New",
                   "Courier", sans-serif;
      font-size: 0.95em;
      > div {
        border: 1px solid #888;
        &:not(:first-child) {
          margin-bottom: 1em;
          position: relative;
          top: -1px;
        }
      }
      .title {
        font-size: 1.1em;
        padding: 0.25em;
        border-bottom: 1px solid #888;
        text-transform: lowercase;
        font-weight: bold;
      }
      pre {
        line-height: 1.25em;
        padding: 0.25em;
        margin: 0;
        background-color: #f7f7f7;
        color: color("pink", "darken-3");
      }
    }
  }
}

/* board */
.board-menu {
  a {
    margin-left: 15px;
  }
}





/* tex */
.tex-formula {
    font-family: times new roman,sans-serif;
    vertical-align: middle;
    margin: 0;
    border:medium none;
    position: relative;
    bottom: 2px;
}

.tex-span {
    font-size: 125%;
    font-family: times new roman,sans-serif;
    white-space: nowrap;
}

.tex-font-size-tiny {
    font-size: 70%;
}

.tex-font-size-script {
    font-size: 75%;
}

.tex-font-size-footnotes {
    font-size: 85%;
}

.tex-font-size-small {
    font-size: 85%;
}

.tex-font-size-normal {
    font-size: 100%;
}

.tex-font-size-large-1 {
    font-size: 115%;
}

.tex-font-size-large-2 {
    font-size: 130%;
}

.tex-font-size-large-3 {
    font-size: 145%;
}

.tex-font-size-huge-1 {
    font-size: 175%;
}

.tex-font-size-huge-2 {
    font-size: 200%;
}

.tex-font-style-rm {
}

.tex-font-style-sf {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: arial,sans-serif;*/
}

.tex-font-style-tt {
    font-size: 110%;
    font-family: courier new,monospace;
}

.tex-font-style-md {
}

.tex-font-style-bf {
    font-weight: bold;
}

.tex-font-style-up {
}

.tex-font-style-sl .tex-font-style-it  {
    font-style: italic;
}

.tex-font-style-sc {
    text-transform: uppercase;
}

.tex-font-style-striked {
    text-decoration: line-through;
}

.tex-font-style-underline {
    text-decoration: underline;
}

.tex-graphics {
    display: block;
}