input, button, select, textarea, a {
  outline: none !important;
}

textarea {
  resize: none;
}

body {
  padding-top: 5px;
  padding-bottom: 20px;
}

p {

}

@media (min-width: 480px) {

}

@media (min-width: 576px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

.bd-navbar {
  padding-left: 0;
  padding-right: 0;
}

.bd-masthead {
  background-image: -webkit-linear-gradient(315deg, #141738, #2c337d, #505ac9);
  background-image: -o-linear-gradient(315deg, #141738, #2c337d, #505ac9);
  background-image: linear-gradient(135deg, #141738, #2c337d, #505ac9);
  padding-top: 8rem;
  padding-bottom: 6rem;
  color: #cdbfe3;
  text-align: center;
  background-color: #1a237e;
}

.bd-pageheader p, .bd-masthead p {
  margin-bottom: 0;
  font-size: 1.15rem;
  font-weight: 200;
  color: #fff;
  opacity: .65;
}

.bd-masthead h1 {
  font-size: 3rem;
  font-weight: normal;
  color: #fff;
}

@media (min-width: 768px) {
  .bd-pageheader p, .bd-masthead p {
    margin-bottom: 0;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 200;
    color: #fff;
    opacity: .65;
  }
}

.bd-pageheader {
  padding: 2rem 15px;
  margin-bottom: 1.5rem;
  color: #cdbfe3;
  text-align: center;
  background-color: #1a237e;
}

.bd-pageheader h1 {
  font-size: 3rem;
  font-weight: normal;
  color: #fff;
}

.bd-pageheader .btn:hover, .bd-masthead .btn:hover {
  background-color: #d2cb74;
  border-color: #d2cb74;
  color: #191705;
}

.bd-pageheader .btn, .bd-masthead .btn {
  background-color: transparent;
  color: #d2cb74;
  border-color: #d2cb74;
  font-size: 1.5rem;
}

.bd-booticon {
  display: block;
  margin: 0 auto 2rem;
  width: 9rem;
  height: 9rem;
  font-size: 6.5rem;
  line-height: 9rem;
  color: #ddd;
  text-align: center;
  cursor: default;
  background-color: transparent;
  opacity: .8;
  border-radius: 15%;
  border: 1px solid #ddd;
}

.bd-featurette {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #eee;
}

.bd-featurette h4 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: normal;
  color: #333;
}

.bd-featurette-title {
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: normal;
  color: #333;
  text-align: center;
}

.bd-featurette .lead {
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  font-size: 1rem;
  text-align: center;
}

.btn-bs {
  font-weight: 500;
  color: #1a237e;
  border-color: #1a237e;
  background-color: transparent;
}

.btn-bs:hover {
  background-color: #1a237e;
  color: #fff;
}

@media (min-width: 768px) {
  .bd-featurette {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .bd-featurette-title {
    font-size: 2.5rem;
  }
  .bd-featurette-title + .lead {
    font-size: 1.5rem;
  }
  .bd-featurette .lead {
    max-width: 80%;
  }
  .bd-featurette .img-fluid {
    margin-top: 0;
  }
}

@media (min-width: 576px) {
  .bd-featurette {
    text-align: left;
  }
}