{% load staticfiles %}
{% load static_extra %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"/>
  <title>{% if title %}{{ title }}{% else %}AI Playground{% endif %}</title>
  <!-- TODO: hard coding -->
  <link rel="icon" href="{% static 'favicon.ico' %}">

  <!-- CSS  -->
  <!-- TODO: with cache -->
  <link href="{% static_no_cache 'css/materialize.css' %}" rel="stylesheet">
  <link href="{% static_no_cache 'css/layout.css' %}" rel="stylesheet">
  {% block css %}{% endblock %}

</head>
<body>

  {% include 'navbar.html' %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  {% include 'footer.html' %}


  <!--  Scripts -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/vue.js' %}"></script>
  <script src="{% static_no_cache 'js/init.js' %}"></script>

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  {% block script %}{% endblock %}

  </body>
</html>
