{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/layout.css' %}" rel="stylesheet">
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            AI Playground
        {% endif %}
    </title>
  </head>

  <body>
    <div class="container">
      {% include 'navbar.html' %}

      {% block content %}
      {% endblock %}

      <footer class="footer mt-3 mb-2 align-bottom">
        <p class="text-xs-center"><a class="text-primary" href="index.php">AI Playground 0.1</a>: A Funny ^-^ Project
        <br>Server time: N/A
        <br>Proudly powered by Bootstrap V4.
        <br>For a better layout, recommended on Desktop.</p>
      </footer>
    </div>


    <script src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'tether/js/tether.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    {% block script %}
    {% endblock %}
  </body>
</html>
