{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"/>
  <title>{% if title %}{{ title }}{% else %}AI Playground{% endif %}</title>
  <!-- TODO: hard coding -->
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <script src="{% static 'js/random.js' %}"></script>

  <!-- CSS  -->
  <link href="https://cdn.bootcss.com/materialize/0.98.0/css/materialize.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
  <script>writeCss("{% static 'css/base.css' %}")</script>
  {% block css %}{% endblock %}

  <!-- FONT -->
  <link href="https://fonts.css.network/css?family=Roboto" rel="stylesheet">
</head>
<body>

  {% include 'navbar.html' %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  {% include 'footer.html' %}


  <!--  Scripts -->
  <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/materialize/0.98.0/js/materialize.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.1.10/vue.js"></script>
  <script>writeJavascript("{% static 'js/init.js' %}")</script>

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  {% block script %}{% endblock %}

  </body>
</html>
