{% extends 'base.html' %}
{% load static_extra %}
{% load staticfiles %}
{% block content %}
<div class="section">
  <div class="container" id="feed-problem">
    <h2 class="feed-header">Problems</h2>
    <div class="row">
      <form class="col s12 m9 offset-m3 l6 offset-l6" v-on:submit.prevent="search">
        <div class="input-field">
          <!-- TODO: add tags -->
          <input id="search-problem" type="search" placeholder="Search for tags, names, authors...">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
    </div>

    <ul class="collection feed-collection">
      <li @click="gotoProblem" class="collection-item avatar">
        <img src="{% static 'img/style_imagery_bestpractices_1.png' %}" alt="" class="circle">
        <span class="title">A+B Problem</span>
        <p>Created by ultmaster.<br>
          999 submissions so far.
        </p>
        <div class="chip">traditional</div>
        <div class="chip">test</div>
        <p class="secondary-content">
          <i class="material-icons md-18">grade</i>
          <i class="material-icons md-18">grade</i>
          <i class="material-icons md-18">grade</i>
          <i class="material-icons md-18">grade</i>
        </p>
      </li>
      <li @click="search" class="collection-item avatar">
        <i class="material-icons circle green">folder</i>
        <span class="title">Mr. Panda and his fantastic beasts</span>
        <p>Created by Google.<br>
           3 submissions so far.
        </p>
        <div class="chip">ACM</div>
        <div class="chip">fantastic problems</div>
        <p href="#!" class="secondary-content"><i class="material-icons">grade</i> 4.7</p>
      </li>
    </ul>

  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static_no_cache 'js/problem.js' %}"></script>
{% endblock %}
