<footer class="page-footer indigo">
  <div class="container">
    <div class="row">
      <div class="col s11 m9 l6">
        <h5 class="white-text">Team Bio</h5>
        <p class="grey-text text-lighten-4 justify">We are a team of college students working on this project. The majority of
          codes of this project is written by <a class="pink-text text-lighten-3" href="https://github.com/ultmaster/">@ultmaster
          </a> and <a class="pink-text text-lighten-3" href="https://github.com/zerolfx">@zerolfx</a>.
          Any amount would help support and continue development on this project and is greatly appreciated.</p>
      </div>
      <div class="col s11 m9 l5 offset-l1">
        <h5 class="white-text">About Project</h5>
        <p class="grey-text text-lighten-4 justify">This project is actually done for fun. We will replace the old-fashioned
          ECNU Online Judge in the future if it is possible.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    See source code on <a class="pink-text text-lighten-3" href="https://github.com/zerolfx/AIPlayground">Github</a>
    </div>
  </div>
</footer>
