{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Starter Template</h1>
    <div class="row center">
      <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
    </div>
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section">

  </div>
</div>

{#  <div class="bd-masthead">#}
{#    <div class="container">#}
{#      <span class="bd-booticon">AI</span>#}
{#      <h1>What is AI Playground?</h1>#}
{#      <p class="lead mb-2">AI Playground is a platform where you can submit your program and compete with others.<br/>#}
{#                          You will have fun mindstorming, coding and sharing ideas.</p>#}
{#      <button class="btn btn-outline-primary btn-lg">Get started</button>#}
{#    </div>#}
{#  </div>#}
{##}
{#  <div class="row">#}
{#    <div class="col-md-4"><div class="jumbotron bg-faded">#}
{#      <h2>Contest</h2>#}
{#      <p class="lead">Submit your AI program and compete!</p>#}
{#      <a class="btn btn-primary btn-block mb-2" href="{% url 'problist' %}" role="button">Try it &raquo;</a>#}
{#    </div></div>#}
{##}
{#    <div class="col-md-4"><div class="jumbotron bg-faded">#}
{#      <h2>Challenge</h2>#}
{#      <p class="lead">Are you more clever than those dumb programs?</p>#}
{#      <a class="btn btn-primary btn-block mb-2" href="challenge.php" role="button">Beat it &raquo;</a>#}
{#    </div></div>#}
{##}
{#    <div class="col-md-4"><div class="jumbotron bg-faded">#}
{#      <h2>Headline</h2>#}
{#      <p class="lead"><strong>[UPD 1 hour ago]</strong> zerol's program has successfully defeated ultmaster, the champion of Gobang. Orz!</p>#}
{#      <a class="btn btn-primary btn-block mb-2" href="status.php" role="button">More news in the air &raquo;</a>#}
{#    </div></div>#}
{#  </div>#}

{% endblock %}

{% block script %}

<script <script src="{% static 'js/home.js' %}"></script>

{% endblock %}
