{% extends 'base.html' %}
{% block content %}


      <div class="jumbotron bg-faded">
        <h1>What is AI Playground?</h1>
        <p class="lead mb-2">AI Playground is a platform where you can compete with the most brilliant artificial brains all over the world. You can also challenge AI with your own human brains. It will be more interesting than you think about. Come on! QAQ</p>
        <div class="row pt-2">
        <form class="form" action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="col-lg-4">
            <div class="form-group"><input class="form-control form-control-lg" name="username" type="text" placeholder="Username"></div>
          </div>
          <div class="col-lg-4">
            <div class="form-group"><input class="form-control form-control-lg" name="password" type="password" placeholder="Password"></div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="form-group"><button class="btn btn-lg btn-primary btn-block" name="type" value="register" type="submit">Register</button></div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="form-group"><button class="btn btn-lg btn-secondary btn-block" name="type" value="login" type="submit">Login</button></div>
          </div>
        </form>
        </div>
        {% if error_message %}
        <div class="row">
        <div class="alert alert-danger" role="alert">
          {{ error_message }}
        </div>
        </div>
        {% elif message %}
        <div class="row">
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        </div>
        {% endif %}
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="jumbotron bg-faded">
            <h2>Contest</h2>
            <p class="lead">Submit your AI program and compete!</p>
            <a class="btn btn-primary btn-block mb-2" href="contest.php" role="button">Try it &raquo;</a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="jumbotron bg-faded">
            <h2>Challenge</h2>
            <p class="lead">Are you more clever than those dumb programs?</p>
            <a class="btn btn-primary btn-block mb-2" href="challenge.php" role="button">Beat it &raquo;</a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="jumbotron bg-faded">
            <h2>Headline</h2>
            <p class="lead"><strong>[UPD 1 hour ago]</strong> zerol's program has successfully defeated ultmaster, the champion of Gobang. Orz!</p>
            <a class="btn btn-primary btn-block mb-2" href="status.php" role="button">More news in the air &raquo;</a>
          </div>
        </div>
      </div>

{% endblock %}