{% extends 'base.html' %}
{% block content %}

  <div class="bd-masthead">
    <div class="container">
      <span class="bd-booticon">AI</span>
      <h1>What is AI Playground?</h1>
      <p class="lead mb-2">AI Playground is a platform where you can submit your program and compete with others.<br/>
                          You will have fun mindstorming, coding and sharing ideas.</p>
      <button class="btn btn-outline-primary btn-lg">Get started</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"><div class="jumbotron bg-faded">
      <h2>Contest</h2>
      <p class="lead">Submit your AI program and compete!</p>
      <a class="btn btn-primary btn-block mb-2" href="{% url 'problist' %}" role="button">Try it &raquo;</a>
    </div></div>

    <div class="col-md-4"><div class="jumbotron bg-faded">
      <h2>Challenge</h2>
      <p class="lead">Are you more clever than those dumb programs?</p>
      <a class="btn btn-primary btn-block mb-2" href="challenge.php" role="button">Beat it &raquo;</a>
    </div></div>

    <div class="col-md-4"><div class="jumbotron bg-faded">
      <h2>Headline</h2>
      <p class="lead"><strong>[UPD 1 hour ago]</strong> zerol's program has successfully defeated ultmaster, the champion of Gobang. Orz!</p>
      <a class="btn btn-primary btn-block mb-2" href="status.php" role="button">More news in the air &raquo;</a>
    </div></div>
  </div>

{% endblock %}

{% block script %}
    <script>
        function show_message(json) {
            var user_error_message = $('#user_error_message');
            var user_success_message = $('#user_success_message');
            if (json['error'] == 1) {
                user_success_message.hide();
                user_error_message.html(json['message']);
                user_error_message.show(500);
            } else {
                user_error_message.hide();
                user_success_message.html(json['message']);
                user_success_message.show(500);
                setTimeout(function() { location.reload(); }, 3000);
            }
        }

        $(document).ready(function() {
            $('#main_login').click(function() {
                //alert('Hello');
                var data = $('#user_form').serialize();
                $.getJSON("{% url 'login' %}", data, function(json) {
                    show_message(json);
                    $('#main_login').blur();
                });
            });
            $('#main_register').click(function() {
                var data = $('#user_form').serialize();
                $.getJSON("{% url 'register' %}", data, function(json) {
                    show_message(json);
                    $('#main_register').blur();
                });
            });

        });
    </script>

{% endblock %}