{% load staticfiles %}
<div class="navbar-fixed">
  <nav class="indigo" role="navigation">
    <div class="nav-wrapper container">
      <ul class="left">
        <li><a id="search-icon" href="{% url 'search' %}" class="left hide-on-med-and-down" :class="{active: navbarActive.search}">
          <i class="material-icons">search</i></a></li>
      </ul>
      <ul id="nav-desktop" class="right hide-on-small-only">
        <li :class="{active: navbarActive.home}"><a href="{% url 'home' %}">Home</a></li>
        <li class="hide-on-med-and-down" :class="{active: navbarActive.problem}"><a href="{% url 'problem' %}">Problems</a></li>
        <li class="hide-on-med-and-down" :class="{active: navbarActive.competition}"><a href="{% url 'competition' %}">Competitions</a></li>
        <li class="hide-on-med-and-down" :class="{active: navbarActive.board}"><a href="{% url 'board' %}">Board</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'user' %}">Username</a></li>
        {% else %}
        <li><a href="{% url 'sign' %}">Sign In / Sign Up</a></li>
        {% endif %}
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
<ul id="slide-out" class="side-nav">
  <li><div class="userView">
    <div class="background">
      <img src="{% static 'img/style_imagery_bestpractices_4.png' %}" style="width:100%; opacity:.5" >
      <!-- TODO: stupid hard coding -->
    </div>
    <a href="{% url 'user' %}"><i class="material-icons">person</i></a>
    <a href="{% url 'user' %}"><span class="name">John Doe</span></a>
    <a href="{% url 'user' %}"><span class="email">jdandturk@gmail.com</span></a>
  </div></li>
  <li v-bind:class="{active: navbarActive.home}"><a href="{% url 'home' %}">Home</a></li>
  <li v-bind:class="{active: navbarActive.problem}"><a href="{% url 'problem' %}">Problems</a></li>
  <li v-bind:class="{active: navbarActive.competition}"><a href="{% url 'competition' %}">Competitions</a></li>
  <li v-bind:class="{active: navbarActive.board}"><a href="{% url 'board' %}">Board</a></li>
  {# <li><a class="subheader">Subheader</a></li>#}

  <li><div class="divider"></div></li>
  <li><a href="{% url 'sign' %}">Sign Up</a></li>
  <li><a href="{% url 'sign' %}">Sign In</a></li>

  <li><div class="divider"></div></li>
  <li v-bind:class="{active: navbarActive.search}"><a href="{% url 'search' %}">Search</a></li>
</ul>
