{% extends 'base.html' %}
{% load static_extra %}
{% load staticfiles %}
{% block content %}
<div class="section">
  <div class="container" id="show-problem">
    <div class="row">
      <nav class="transparent z-depth-0 col s12 m10 offset-m1 l8 offset-l2">
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active">Description</a></li>
            <li class="tab"><a>Board</a></li>
            <li class="tab"><a>Ranklist</a></li>
            <li class="tab"><a>Management</a></li>
          </ul>
        </div>
      </nav>
    </div>

  </div>
</div>


{% endblock %}

{% block script %}
<script src="{% static_no_cache 'js/problem.js' %}"></script>
{% endblock %}
