{% extends 'base.html' %}
{% load staticfiles %}
{% load static_extra %}
{% block css %}
<link href="{% static_no_cache 'css/user.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="section">
  <div class="container" id="sign-container">
    <div class="row">
      <nav class="transparent z-depth-0 col s12 m10 offset-m1 l8 offset-l2">
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab"><a @click="toggle('in')" :class="signInActive">Sign In</a></li>
            <li class="tab"><a @click="toggle('up')" :class="signUpActive">Sign Up</a></li>
          </ul>
        </div>
      </nav>

      <div class="col s12 m10 offset-m1 l8 offset-l2 sign-form" v-show="signInActive">
        <form id="sign-in-form" v-on:submit.prevent="signIn">
          {% csrf_token %}
          <div class="input-field">
            <input onfocus="clearErrorMsg()" id="signinUsername" class="validate required" type="text" name="username">
            <label for="username" data-error="Invalid username.">Username</label>
          </div>
          <div class="input-field">
            <input onfocus="clearErrorMsg()" id="signinPassword" class="validate required" type="password" name="password">
            <label for="password" data-error="Invalid password.">Password</label>
          </div>
          <div class="row">
            <div class="col s12 center">
              <button class="btn-form-submit-col4 btn-large pink waves-effect waves-light">
                Sign In
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="col s12 m10 offset-m1 l8 offset-l2 sign-form" v-show="signUpActive">
        <form id="sign-up-form" v-on:submit.prevent="signUp">
          {% csrf_token %}
          <div class="input-field">
            <input onfocus="clearErrorMsg()" id="signupUsername" class="required" type="text" name="username" />
            <label for="username" data-error="Invalid username.">Username</label>
          </div>
          <div class="input-field">
            <input onfocus="clearErrorMsg()" id="signupEmail" class="required" type="email" name="email" />
            <label for="username" data-error="Invalid email.">Email</label>
          </div>
          <div class="input-field">
            <input onfocus="clearErrorMsg()" id="signupPassword" class="required" type="password" name="password">
            <label for="password" data-error="Invalid password.">Password</label>
          </div>
          <div class="input-field">
            <input onfocus="clearErrorMsg()" @blur="passwordRepeatValidate"
            id="signupPasswordRepeat" type="password" name="passwordRepeat">
            <label for="passwordRepeat" data-error="Password is not identical.">Repeat Password</label>
          </div>
          <div class="row">
            <div class="col s12 center">
              <button class="btn-form-submit-col4 btn-large pink waves-effect waves-light">
                Sign Up
              </button>
            </div>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>


{% endblock %}

{% block script %}

<script src="{% static_no_cache 'js/user.js' %}"></script>

{% endblock %}
