{% extends 'base.html' %}
{% load staticfiles %}
{% load static_extra %}
{% block css %}
<link href="{% static_no_cache 'css/user.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="section">
  <div class="container" id="sign-container">
    <div class="row">
      <nav class="transparent z-depth-0 col s12 m8 offset-m2 l6 offset-l3">
        <div class="nav-content">
          <ul class="tabs tabs-transparent inverse">
            <li class="tab"><a @click="toggle('in')" :class="signInActive">Sign In</a></li>
            <li class="tab"><a @click="toggle('up')" :class="signUpActive">Sign Up</a></li>
          </ul>
        </div>
      </nav>

      <signin v-show="signInActive"></signin>

      <signup v-show="signUpActive"></signup>


    </div>
  </div>
</div>

<template id="sign-input-template">
  <div class="input-field">
    <input @focus="clearErrorMessage" class="validate" :type="inputType" :name="inputName" required>
    <label :for="inputName" :data-error="errorMessage">[[ placeholder ]]</label>
  </div>
</template>

<template id="sign-in-template">
  <div class="col s12 m8 offset-m2 l6 offset-l3 sign-form">
    <form id="sign-in-form" v-on:submit.prevent="submit">
      {% csrf_token %}
      <sign-input placeholder="Username" input-name="username" input-type="text" data-error="Invalid username."></sign-input>
      <sign-input placeholder="Password" input-name="password" input-type="password" data-error="Invalid password."></sign-input>
      <div class="row">
        <div class="col s12 center">
          <button class="btn-submit btn-large pink waves-effect waves-light">
            Sign In
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<template id="sign-up-template">
  <div class="col s12 m8 offset-m2 l6 offset-l3 sign-form">
    <form id="sign-up-form" v-on:submit.prevent="submit">
      {% csrf_token %}
      <sign-input placeholder="Email" input-name="email" input-type="email" data-error="Invalid email address."></sign-input>
      <sign-input placeholder="Username" input-name="username" input-type="text" data-error="Invalid username."></sign-input>
      <sign-input placeholder="Password" input-name="password" input-type="password" data-error="Invalid password."></sign-input>
      <div class="row">
        <div class="col s12 center">
          <button class="btn-submit btn-large pink waves-effect waves-light">
            Sign Up
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

{% endblock %}

{% block script %}

<script src="{% static_no_cache 'js/user.js' %}"></script>

{% endblock %}
