<footer class="page-footer indigo">
  <div class="container">
    <div class="row">
      <div class="col s11 m9 l7">
        <h5 class="white-text">Team Bio</h5>
        <p class="grey-text text-lighten-4 justify">We are a team of college students working on this project. The majority of
          codes of this project is written by <a class="pink-text text-lighten-4" href="https://github.com/ultmaster/">@ultmaster
          </a> and <a class="pink-text text-lighten-4" href="https://github.com/zerolfx">@zerolfx</a>.
          Any amount would help support and continue development on this project and is greatly appreciated.</p>
        <a class="pink-text text-lighten-4 github-button" href="https://github.com/zerolfx" data-style="mega"
        data-count-href="/zerolfx/followers" data-count-api="/users/zerolfx#followers" data-count-aria-label="# followers on GitHub"
        aria-label="Follow @zerolfx on GitHub">Follow @zerolfx</a>
        <a class="pink-text text-lighten-4 github-button" href="https://github.com/ultmaster" data-style="mega" data-count-href="/ultmaster/followers"
        data-count-api="/users/ultmaster#followers" data-count-aria-label="# followers on GitHub"
        aria-label="Follow @ultmaster on GitHub">Follow @ultmaster</a>
      </div>
      <div class="col s11 m9 l4 offset-l1">
        <h5 class="white-text">About Project</h5>
        <p class="grey-text text-lighten-4 justify">This project is actually done for fun. We will replace the old-fashioned
          ECNU Online Judge in the future if it is possible. <br>
          The UI interface is based on <a class="pink-text text-lighten-4" href="http://materializecss.com/">Materialize</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s11 m11 l9">
        <h5 class="white-text">Give us feedback</h5>
        <!-- Place this tag where you want the button to render. -->
        <p class="grey-text text-lighten-4 jusity">It is a open source code project on Github. You are welcome to
          join us.</p>
        <a class="pink-text text-lighten-4 github-button" href="https://github.com/zerolfx/AIPlayground" data-icon="octicon-star"
        data-style="mega" data-count-href="/zerolfx/AIPlayground/stargazers" data-count-api="/repos/zerolfx/AIPlayground#stargazers_count"
        data-count-aria-label="# stargazers on GitHub" aria-label="Star zerolfx/AIPlayground on GitHub">Star</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016-2017 AI Playground. All rights reserved.
    </div>
  </div>
</footer>
